#Spartan 6 LX45-150 PCB rev. 13.09
##################################

#Bank 2 is fixed at 2.5V
CONFIG VCCAUX = 2.5;
#Banks 0,1,3,4,5 are selectable 1.8V - 3.3V

#Bank 0 is FMC, Osc and GPIO
#Bank 2 is FX3
#Banks 1,5 are GFZ left
#Banks 3,4 are GFZ right

#Clock sources
#-------------
#Bank 0
NET "OSC_48MHZ" LOC = C14 | IOSTANDARD = LVCMOS25;

#NET "SMA_FMC_P" LOC = C15; #bottom right
#NET "SMA_FMC_N" LOC = A15; #bottom left

#Bank 2
#NET "SMA_2V5_P" LOC = AE13 | IOSTANDARD = LVCMOS25; #top right
#NET "SMA_2V5_N" LOC = AF13 | IOSTANDARD = LVCMOS25; #top left

NET "CLK100MHZ_OUT" LOC = C15 | IOSTANDARD = LVCMOS25 | DRIVE = 8 | FAST;

#Oscillator constraints
NET "OSC_48MHZ" TNM_NET = "osc48";
TIMESPEC "TS_osc48" = PERIOD "osc48" 48 MHz HIGH 50 % INPUT_JITTER 80 ps;

#SPI Flash
#---------
NET "SPI*" IOSTANDARD = LVCMOS25 | DRIVE = 8 | FAST;
NET "SPI_CSN" LOC = AF4;
NET "SPI_SCK" LOC = AD22;
NET "SPI_MOSI" LOC = AF20;
NET "SPI_MISO" LOC = AD20;
NET "SPI_WPN" LOC = AE17 | PULLUP;
NET "SPI_HOLDN" LOC = AF17 | PULLUP;

##GPIO (Bank 0)
##-------------
##13.09: GPIO[0;1] not connected on LX45,75
#NET "GPIO[0]" LOC = H17;
#NET "GPIO[1]" LOC = J17;
#NET "GPIO[2]" LOC = A18;
#NET "GPIO[3]" LOC = B18;
#NET "GPIO[4]" LOC = A19;
#NET "GPIO[5]" LOC = C19;
#NET "GPIO[6]" LOC = A20;
#NET "GPIO[7]" LOC = B20;
#NET "GPIO[8]" LOC = A21;
#NET "GPIO[9]" LOC = C21;

##FMC LPC (Bank 0)
##----------------
#NET "FMC_LA_P[0]" LOC = B12;
#NET "FMC_LA_N[0]" LOC = A12;
#NET "FMC_LA_P[1]" LOC = B8;
#NET "FMC_LA_N[1]" LOC = A8;
#NET "FMC_LA_P[2]" LOC = C11;
#NET "FMC_LA_N[2]" LOC = A11;
#NET "FMC_LA_P[3]" LOC = C9;
#NET "FMC_LA_N[3]" LOC = A9;
#NET "FMC_LA_P[4]" LOC = C7;
#NET "FMC_LA_N[4]" LOC = A7;
#NET "FMC_LA_P[5]" LOC = C5;
#NET "FMC_LA_N[5]" LOC = A5;
#NET "FMC_LA_P[6]" LOC = D6;
#NET "FMC_LA_N[6]" LOC = C6;
#NET "FMC_LA_P[7]" LOC = B4;
#NET "FMC_LA_N[7]" LOC = A4;
#NET "FMC_LA_P[8]" LOC = B6;
#NET "FMC_LA_N[8]" LOC = A6;
#NET "FMC_LA_P[9]" LOC = D21;
#NET "FMC_LA_N[9]" LOC = C20;
#NET "FMC_LA_P[10]" LOC = B16;
#NET "FMC_LA_N[10]" LOC = A16;
#NET "FMC_LA_P[11]" LOC = D18;
#NET "FMC_LA_N[11]" LOC = C18;
#NET "FMC_LA_P[12]" LOC = C17;
#NET "FMC_LA_N[12]" LOC = A17;
##Not connected on LX45
#NET "FMC_LA_P[13]" LOC = B10;
#NET "FMC_LA_N[13]" LOC = A10;
#NET "FMC_LA_P[14]" LOC = G8;
#NET "FMC_LA_N[14]" LOC = F7;
#NET "FMC_LA_P[15]" LOC = F17;
#NET "FMC_LA_N[15]" LOC = E17;
#NET "FMC_LA_P[16]" LOC = J15;
#NET "FMC_LA_N[16]" LOC = H15;
#NET "FMC_LA_P[17]" LOC = F16;
#NET "FMC_LA_N[17]" LOC = E16;
##Not connected on LX45,75
#NET "FMC_LA_P[18]" LOC = F9;
#NET "FMC_LA_N[18]" LOC = E9;
#NET "FMC_LA_P[19]" LOC = D10;
#NET "FMC_LA_N[19]" LOC = C10;
#NET "FMC_LA_P[20]" LOC = E10;
#NET "FMC_LA_N[20]" LOC = F10;
#NET "FMC_LA_P[21]" LOC = D12;
#NET "FMC_LA_N[21]" LOC = C12;
#NET "FMC_LA_P[22]" LOC = D11;
#NET "FMC_LA_N[22]" LOC = F11;
#NET "FMC_LA_P[23]" LOC = D8;
#NET "FMC_LA_N[23]" LOC = C8;
#NET "FMC_LA_P[24]" LOC = J14;
#NET "FMC_LA_N[24]" LOC = G14;
#NET "FMC_LA_P[25]" LOC = F13;
#NET "FMC_LA_N[25]" LOC = D13;
#NET "FMC_LA_P[26]" LOC = E6;
#NET "FMC_LA_N[26]" LOC = D5;
#NET "FMC_LA_P[27]" LOC = E8;
#NET "FMC_LA_N[27]" LOC = D7;
#NET "FMC_LA_P[28]" LOC = G16;
#NET "FMC_LA_N[28]" LOC = F15;
#NET "FMC_LA_P[29]" LOC = E14;
#NET "FMC_LA_N[29]" LOC = D15;
#NET "FMC_LA_P[30]" LOC = H16;
#NET "FMC_LA_N[30]" LOC = G17;
#NET "FMC_LA_P[31]" LOC = D16;
#NET "FMC_LA_N[31]" LOC = C16;
#NET "FMC_LA_P[32]" LOC = E19;
#NET "FMC_LA_N[32]" LOC = D19;
#NET "FMC_LA_P[33]" LOC = F18;
#NET "FMC_LA_N[33]" LOC = E18;

#NET "FMC_CLK_M2C_P[0]" LOC = B14;
#NET "FMC_CLK_M2C_N[0]" LOC = A14;
#NET "FMC_CLK_M2C_P[1]" LOC = C13;
#NET "FMC_CLK_M2C_N[1]" LOC = A13;

#FX3 (Bank 2)
#------------
NET "FX3*" IOSTANDARD = LVCMOS25 | DRIVE = 8 | FAST;

NET "FX3_PCLK" TNM_NET = "pclk100";
TIMESPEC "TS_pclk100" = PERIOD "pclk100" 100.8 MHz HIGH 50 %;

NET "FX3*" TNM = "FX3_TIMING";
TIMEGRP "FX3_TIMING" OFFSET = OUT 7 ns AFTER "FX3_PCLK" RISING VALID 3.5 ns;
TIMEGRP "FX3_TIMING" OFFSET = IN 2 ns BEFORE "FX3_PCLK" RISING VALID 4 ns;

NET "FX3_PCLK" LOC = AD12;
NET "FX3_RESET_N" LOC = AD8;

NET "FX3_SLCS_N" LOC = AA15;
NET "FX3_SLOE_N" LOC = AE21;
NET "FX3_SLRD_N" LOC = AD18;
NET "FX3_SLWR_N" LOC = AB15;
NET "FX3_PKTEND_N" LOC = AF19;

NET "FX3_FLAG_A" LOC = AD10;
NET "FX3_FLAG_B" LOC = AE15;
NET "FX3_FLAG_C" LOC = AC15;
NET "FX3_FLAG_D" LOC = AD15;

NET "FX3_FIFOADR[0]" LOC = AB17;
NET "FX3_FIFOADR[1]" LOC = AF16;

#GPIO[26]
NET "FX3_GPIO[0]" LOC = AF15;
#GPIO[27]
NET "FX3_GPIO[1]" LOC = AC17;
#NET "FX3_CTL[15]" LOC = AC14;

NET "FX3_DQ[0]" LOC = AE9;
NET "FX3_DQ[1]" LOC = AF18;
NET "FX3_DQ[2]" LOC = AF9;
NET "FX3_DQ[3]" LOC = AF11;
NET "FX3_DQ[4]" LOC = AE11;
NET "FX3_DQ[5]" LOC = AF8;
NET "FX3_DQ[6]" LOC = AA12;
NET "FX3_DQ[7]" LOC = AE19;
NET "FX3_DQ[8]" LOC = AC12;
NET "FX3_DQ[9]" LOC = W12;
NET "FX3_DQ[10]" LOC = AB13;
NET "FX3_DQ[11]" LOC = V12;
NET "FX3_DQ[12]" LOC = AA13;
NET "FX3_DQ[13]" LOC = Y15;
NET "FX3_DQ[14]" LOC = AF21;
NET "FX3_DQ[15]" LOC = AF10;
#Not connected on LX75
NET "FX3_DQ[16]" LOC = AB18;
NET "FX3_DQ[17]" LOC = AA18;
NET "FX3_DQ[18]" LOC = AD19;
NET "FX3_DQ[19]" LOC = AC19;
NET "FX3_DQ[20]" LOC = AD17;
NET "FX3_DQ[21]" LOC = AA19;
NET "FX3_DQ[22]" LOC = AC20;
NET "FX3_DQ[23]" LOC = AA17;
NET "FX3_DQ[24]" LOC = AC16;
NET "FX3_DQ[25]" LOC = AD21;
NET "FX3_DQ[26]" LOC = Y18;
NET "FX3_DQ[27]" LOC = V16;
NET "FX3_DQ[28]" LOC = Y16;
NET "FX3_DQ[29]" LOC = W17;
NET "FX3_DQ[30]" LOC = V15;
NET "FX3_DQ[31]" LOC = W16;

#GFZ left (Bank 1,5) #56-#73 not connected on LX45
#-------------------------------------------------
#NET "GFZ_LP[1]" LOC = P21;
#NET "GFZ_LP[2]" LOC = D24;
#NET "GFZ_LP[3]" LOC = B24;
#NET "GFZ_LP[4]" LOC = C25;
#NET "GFZ_LP[5]" LOC = B25;
#NET "GFZ_LP[6]" LOC = N17;
#NET "GFZ_LP[7]" LOC = M18;
#NET "GFZ_LP[8]" LOC = R20;
#NET "GFZ_LP[9]" LOC = T18;
#NET "GFZ_LP[10]" LOC = B23;
#NET "GFZ_LP[11]" LOC = T23;
#NET "GFZ_LP[12]" LOC = R23;
#NET "GFZ_LP[13]" LOC = U17;
#NET "GFZ_LP[14]" LOC = V18;
#NET "GFZ_LP[15]" LOC = M23;
#NET "GFZ_LP[16]" LOC = P24;
#NET "GFZ_LP[17]" LOC = W25;
#NET "GFZ_LP[18]" LOC = V24;
#NET "GFZ_LP[19]" LOC = R25;
#NET "GFZ_LP[20]" LOC = P20;
#NET "GFZ_LP[21]" LOC = V23;
#NET "GFZ_LP[22]" LOC = T24;
#NET "GFZ_LP[23]" LOC = Y24;
#NET "GFZ_LP[24]" LOC = AA25;
#NET "GFZ_LP[25]" LOC = Y20;
#NET "GFZ_LP[26]" LOC = V22;
#NET "GFZ_LP[27]" LOC = AC23;
#NET "GFZ_LP[28]" LOC = T22;
#NET "GFZ_LP[29]" LOC = AC25;
#NET "GFZ_LP[30]" LOC = AB24;
#NET "GFZ_LP[31]" LOC = AE23;
#NET "GFZ_LP[32]" LOC = U21;
#NET "GFZ_LP[33]" LOC = T20;
#NET "GFZ_LP[34]" LOC = AE25;
#NET "GFZ_LP[35]" LOC = AD24;
#NET "GFZ_LP[36]" LOC = U19;
#NET "GFZ_LP[37]" LOC = W18;
#NET "GFZ_LP[38]" LOC = AA23;
#NET "GFZ_LP[39]" LOC = AE24;
#NET "GFZ_LP[40]" LOC = Y22;
#NET "GFZ_LP[41]" LOC = N20;
#NET "GFZ_LP[42]" LOC = M19;
#NET "GFZ_LP[43]" LOC = L19;
#NET "GFZ_LP[44]" LOC = N22;
#NET "GFZ_LP[45]" LOC = N25;
#NET "GFZ_LP[46]" LOC = J25;
#NET "GFZ_LP[47]" LOC = G25;
#NET "GFZ_LP[48]" LOC = H24;
#NET "GFZ_LP[49]" LOC = M24;
#NET "GFZ_LP[50]" LOC = L23;
#NET "GFZ_LP[51]" LOC = E25;
#NET "GFZ_LP[52]" LOC = F24;
#NET "GFZ_LP[53]" LOC = L17;
#NET "GFZ_LP[54]" LOC = L25;
#NET "GFZ_LP[55]" LOC = K24;
#NET "GFZ_LP[56]" LOC = H18;
#NET "GFZ_LP[57]" LOC = G23;
#NET "GFZ_LP[58]" LOC = E23;
#NET "GFZ_LP[59]" LOC = F22;
#NET "GFZ_LP[60]" LOC = D23;
#NET "GFZ_LP[61]" LOC = U25;
#NET "GFZ_LP[62]" LOC = J23;
#NET "GFZ_LP[63]" LOC = H20;
#NET "GFZ_LP[64]" LOC = H22;
#NET "GFZ_LP[65]" LOC = G20;
#NET "GFZ_LP[66]" LOC = K20;
#NET "GFZ_LP[67]" LOC = L20;
#NET "GFZ_LP[68]" LOC = K22;
#NET "GFZ_LP[69]" LOC = R22;
#NET "GFZ_LP[70]" LOC = AB21;
#NET "GFZ_LP[71]" LOC = H19;
#NET "GFZ_LP[72]" LOC = P17;
#NET "GFZ_LP[73]" LOC = R17;

#NET "GFZ_LN[1]" LOC = P22;
#NET "GFZ_LN[2]" LOC = D26;
#NET "GFZ_LN[3]" LOC = A25;
#NET "GFZ_LN[4]" LOC = C26;
#NET "GFZ_LN[5]" LOC = B26;
#NET "GFZ_LN[6]" LOC = N18;
#NET "GFZ_LN[7]" LOC = N19;
#NET "GFZ_LN[8]" LOC = R19;
#NET "GFZ_LN[9]" LOC = T19;
#NET "GFZ_LN[10]" LOC = A23;
#NET "GFZ_LN[11]" LOC = U24;
#NET "GFZ_LN[12]" LOC = R24;
#NET "GFZ_LN[13]" LOC = V17;
#NET "GFZ_LN[14]" LOC = V19;
#NET "GFZ_LN[15]" LOC = N24;
#NET "GFZ_LN[16]" LOC = P26;
#NET "GFZ_LN[17]" LOC = W26;
#NET "GFZ_LN[18]" LOC = V26;
#NET "GFZ_LN[19]" LOC = R26;
#NET "GFZ_LN[20]" LOC = N21;
#NET "GFZ_LN[21]" LOC = W24;
#NET "GFZ_LN[22]" LOC = T26;
#NET "GFZ_LN[23]" LOC = Y26;
#NET "GFZ_LN[24]" LOC = AA26;
#NET "GFZ_LN[25]" LOC = Y21;
#NET "GFZ_LN[26]" LOC = W22;
#NET "GFZ_LN[27]" LOC = AC24;
#NET "GFZ_LN[28]" LOC = U23;
#NET "GFZ_LN[29]" LOC = AC26;
#NET "GFZ_LN[30]" LOC = AB26;
#NET "GFZ_LN[31]" LOC = AF24;
#NET "GFZ_LN[32]" LOC = U22;
#NET "GFZ_LN[33]" LOC = U20;
#NET "GFZ_LN[34]" LOC = AE26;
#NET "GFZ_LN[35]" LOC = AD26;
#NET "GFZ_LN[36]" LOC = V20;
#NET "GFZ_LN[37]" LOC = W19;
#NET "GFZ_LN[38]" LOC = AA24;
#NET "GFZ_LN[39]" LOC = AF25;
#NET "GFZ_LN[40]" LOC = AA22;
#NET "GFZ_LN[41]" LOC = M21;
#NET "GFZ_LN[42]" LOC = L18;
#NET "GFZ_LN[43]" LOC = K19;
#NET "GFZ_LN[44]" LOC = N23;
#NET "GFZ_LN[45]" LOC = N26;
#NET "GFZ_LN[46]" LOC = J26;
#NET "GFZ_LN[47]" LOC = G26;
#NET "GFZ_LN[48]" LOC = H26;
#NET "GFZ_LN[49]" LOC = M26;
#NET "GFZ_LN[50]" LOC = L24;
#NET "GFZ_LN[51]" LOC = E26;
#NET "GFZ_LN[52]" LOC = F26;
#NET "GFZ_LN[53]" LOC = K18;
#NET "GFZ_LN[54]" LOC = L26;
#NET "GFZ_LN[55]" LOC = K26;
#NET "GFZ_LN[56]" LOC = G19;
#NET "GFZ_LN[57]" LOC = G24;
#NET "GFZ_LN[58]" LOC = E24;
#NET "GFZ_LN[59]" LOC = D22;
#NET "GFZ_LN[60]" LOC = C24;
#NET "GFZ_LN[61]" LOC = U26;
#NET "GFZ_LN[62]" LOC = J24;
#NET "GFZ_LN[63]" LOC = H21;
#NET "GFZ_LN[64]" LOC = G22;
#NET "GFZ_LN[65]" LOC = G21;
#NET "GFZ_LN[66]" LOC = K21;
#NET "GFZ_LN[67]" LOC = L21;
#NET "GFZ_LN[68]" LOC = J22;
#NET "GFZ_LN[69]" LOC = R21;
#NET "GFZ_LN[70]" LOC = AB22;
#NET "GFZ_LN[71]" LOC = J20;
#NET "GFZ_LN[72]" LOC = P18;
#NET "GFZ_LN[73]" LOC = R18;

#GFZ right (Bank 3,4) #56-#73 not connected on LX45
#--------------------------------------------------
#NET "GFZ_RP[1]" LOC = V4;
#NET "GFZ_RP[2]" LOC = V3;
#NET "GFZ_RP[3]" LOC = L2;
#NET "GFZ_RP[4]" LOC = L4;
#NET "GFZ_RP[5]" LOC = M3;
#NET "GFZ_RP[6]" LOC = U2;
#NET "GFZ_RP[7]" LOC = U4;
#NET "GFZ_RP[8]" LOC = N2;
#NET "GFZ_RP[9]" LOC = N7;
#NET "GFZ_RP[10]" LOC = N4;
#NET "GFZ_RP[11]" LOC = R4;
#NET "GFZ_RP[12]" LOC = R5;
#NET "GFZ_RP[13]" LOC = P7;
#NET "GFZ_RP[14]" LOC = U8;
#NET "GFZ_RP[15]" LOC = P3;
#NET "GFZ_RP[16]" LOC = R7;
#NET "GFZ_RP[17]" LOC = P10;
#NET "GFZ_RP[18]" LOC = AE3;
#NET "GFZ_RP[19]" LOC = AC5;
#NET "GFZ_RP[20]" LOC = AC4;
#NET "GFZ_RP[21]" LOC = T3;
#NET "GFZ_RP[22]" LOC = M9;
#NET "GFZ_RP[23]" LOC = M10;
#NET "GFZ_RP[24]" LOC = AB7;
#NET "GFZ_RP[25]" LOC = AA7;
#NET "GFZ_RP[26]" LOC = M6;
#NET "GFZ_RP[27]" LOC = L7;
#NET "GFZ_RP[28]" LOC = AA4;
#NET "GFZ_RP[29]" LOC = AA2;
#NET "GFZ_RP[30]" LOC = AB3;
#NET "GFZ_RP[31]" LOC = P5;
#NET "GFZ_RP[32]" LOC = AB4;
#NET "GFZ_RP[33]" LOC = AC2;
#NET "GFZ_RP[34]" LOC = AE2;
#NET "GFZ_RP[35]" LOC = AD3;
#NET "GFZ_RP[36]" LOC = W5;
#NET "GFZ_RP[37]" LOC = W8;
#NET "GFZ_RP[38]" LOC = AC7;
#NET "GFZ_RP[39]" LOC = T8;
#NET "GFZ_RP[40]" LOC = AA5;
#NET "GFZ_RP[41]" LOC = N8;
#NET "GFZ_RP[42]" LOC = H3;
#NET "GFZ_RP[43]" LOC = J2;
#NET "GFZ_RP[44]" LOC = K3;
#NET "GFZ_RP[45]" LOC = U5;
#NET "GFZ_RP[46]" LOC = E4;
#NET "GFZ_RP[47]" LOC = F3;
#NET "GFZ_RP[48]" LOC = E2;
#NET "GFZ_RP[49]" LOC = G2;
#NET "GFZ_RP[50]" LOC = W2;
#NET "GFZ_RP[51]" LOC = C4;
#NET "GFZ_RP[52]" LOC = D3;
#NET "GFZ_RP[53]" LOC = C2;
#NET "GFZ_RP[54]" LOC = B2;
#NET "GFZ_RP[55]" LOC = Y3;
#NET "GFZ_RP[56]" LOC = H8;
#NET "GFZ_RP[57]" LOC = J7;
#NET "GFZ_RP[58]" LOC = W9;
#NET "GFZ_RP[59]" LOC = K10;
#NET "GFZ_RP[60]" LOC = J10;
#NET "GFZ_RP[61]" LOC = R2;
#NET "GFZ_RP[62]" LOC = K7;
#NET "GFZ_RP[63]" LOC = R10;
#NET "GFZ_RP[64]" LOC = V7;
#NET "GFZ_RP[65]" LOC = T10;
#NET "GFZ_RP[66]" LOC = K5;
#NET "GFZ_RP[67]" LOC = J4;
#NET "GFZ_RP[68]" LOC = K8;
#NET "GFZ_RP[69]" LOC = Y9;
#NET "GFZ_RP[70]" LOC = W10;
#NET "GFZ_RP[71]" LOC = G6;
#NET "GFZ_RP[72]" LOC = G4;
#NET "GFZ_RP[73]" LOC = F5;
#NET "GFZ_RP[74]" LOC = H6;
#NET "GFZ_RP[75]" LOC = AA8;
#
#NET "GFZ_RN[1]" LOC = W3;
#NET "GFZ_RN[2]" LOC = V1;
#NET "GFZ_RN[3]" LOC = L1;
#NET "GFZ_RN[4]" LOC = L3;
#NET "GFZ_RN[5]" LOC = M1;
#NET "GFZ_RN[6]" LOC = U1;
#NET "GFZ_RN[7]" LOC = U3;
#NET "GFZ_RN[8]" LOC = N1;
#NET "GFZ_RN[9]" LOC = N6;
#NET "GFZ_RN[10]" LOC = N3;
#NET "GFZ_RN[11]" LOC = R3;
#NET "GFZ_RN[12]" LOC = T4;
#NET "GFZ_RN[13]" LOC = P6;
#NET "GFZ_RN[14]" LOC = U7;
#NET "GFZ_RN[15]" LOC = P1;
#NET "GFZ_RN[16]" LOC = R6;
#NET "GFZ_RN[17]" LOC = R9;
#NET "GFZ_RN[18]" LOC = AF2;
#NET "GFZ_RN[19]" LOC = AD5;
#NET "GFZ_RN[20]" LOC = AD4;
#NET "GFZ_RN[21]" LOC = T1;
#NET "GFZ_RN[22]" LOC = M8;
#NET "GFZ_RN[23]" LOC = N9;
#NET "GFZ_RN[24]" LOC = AB6;
#NET "GFZ_RN[25]" LOC = Y6;
#NET "GFZ_RN[26]" LOC = M4;
#NET "GFZ_RN[27]" LOC = L6;
#NET "GFZ_RN[28]" LOC = AA3;
#NET "GFZ_RN[29]" LOC = AA1;
#NET "GFZ_RN[30]" LOC = AB1;
#NET "GFZ_RN[31]" LOC = N5;
#NET "GFZ_RN[32]" LOC = AC3;
#NET "GFZ_RN[33]" LOC = AC1;
#NET "GFZ_RN[34]" LOC = AE1;
#NET "GFZ_RN[35]" LOC = AD1;
#NET "GFZ_RN[36]" LOC = Y5;
#NET "GFZ_RN[37]" LOC = W7;
#NET "GFZ_RN[38]" LOC = AD7;
#NET "GFZ_RN[39]" LOC = T6;
#NET "GFZ_RN[40]" LOC = AB5;
#NET "GFZ_RN[41]" LOC = P8;
#NET "GFZ_RN[42]" LOC = H1;
#NET "GFZ_RN[43]" LOC = J1;
#NET "GFZ_RN[44]" LOC = K1;
#NET "GFZ_RN[45]" LOC = V5;
#NET "GFZ_RN[46]" LOC = E3;
#NET "GFZ_RN[47]" LOC = F1;
#NET "GFZ_RN[48]" LOC = E1;
#NET "GFZ_RN[49]" LOC = G1;
#NET "GFZ_RN[50]" LOC = W1;
#NET "GFZ_RN[51]" LOC = C3;
#NET "GFZ_RN[52]" LOC = D1;
#NET "GFZ_RN[53]" LOC = C1;
#NET "GFZ_RN[54]" LOC = B1;
#NET "GFZ_RN[55]" LOC = Y1;
#NET "GFZ_RN[56]" LOC = G7;
#NET "GFZ_RN[57]" LOC = H7;
#NET "GFZ_RN[58]" LOC = V8;
#NET "GFZ_RN[59]" LOC = L9;
#NET "GFZ_RN[60]" LOC = K9;
#NET "GFZ_RN[61]" LOC = R1;
#NET "GFZ_RN[62]" LOC = K6;
#NET "GFZ_RN[63]" LOC = T9;
#NET "GFZ_RN[64]" LOC = V6;
#NET "GFZ_RN[65]" LOC = U9;
#NET "GFZ_RN[66]" LOC = J5;
#NET "GFZ_RN[67]" LOC = J3;
#NET "GFZ_RN[68]" LOC = L8;
#NET "GFZ_RN[69]" LOC = Y8;
#NET "GFZ_RN[70]" LOC = V10;
#NET "GFZ_RN[71]" LOC = G5;
#NET "GFZ_RN[72]" LOC = G3;
#NET "GFZ_RN[73]" LOC = E5;
#NET "GFZ_RN[74]" LOC = H5;
#NET "GFZ_RN[75]" LOC = AB8;
